In [2]:
import os
import sys
import numpy as np
import pandas as pd
import csv
import matplotlib
import matplotlib.pyplot as plt
from tqdm import tqdm

In [3]:
data_dir = "/mnt/c/Users/ruotong/Home/xERTE/tKGR/data/Body_E-commerce_user_data"
print(os.listdir(data_dir))
orders = pd.read_csv(os.path.join(data_dir, "tbl_orders.csv"), sep=",",header=0)
goods = pd.read_csv(os.path.join(data_dir, "tbl_goods.csv"), sep=",",header=0)
users = pd.read_csv(os.path.join(data_dir, "tbl_users.csv"), sep=",",header=0)
logs = pd.read_csv(os.path.join(data_dir, "tbl_logs.xls"), sep=",",header=0)
# df = df.reindex(columns=['user','rating','movie','timestamp'])
orders.head()

['tbl_goods.csv', 'tbl_logs.xls', 'tbl_orders.csv', 'tbl_users.csv', 'Tianchi_ Data Sets.html']

,id,siteId,isTest,hasSync,isBackend,isBook,isCod,notAutoConfirm,isPackage,packageId,...,isTogether,isNotConfirm,tailPayTime,points,modified,channelId,isProduceDaily,couponCode,couponCodeValue,ckCode
0,3,1,0,1,0,0,0,0,0,0,...,0,1,0,0.0,25/9/2019 21:59:26,0.0,0,NaN,0,19206703.0
1,4,1,0,1,0,0,0,0,0,0,...,0,0,0,0.0,25/9/2019 21:59:26,0.0,0,NaN,0,20205149.0
2,5,1,0,1,0,0,0,0,0,0,...,0,0,0,0.0,25/9/2019 21:59:26,0.0,0,NaN,0,NaN
3,6,1,0,1,0,0,3,0,0,0,...,0,0,0,0.0,25/9/2019 21:59:26,0.0,0,NaN,0,NaN
4,7,1,0,1,0,0,1,0,0,0,...,0,0,0,0.0,25/9/2019 21:59:26,0.0,0,NaN,0,NaN

In [4]:
goods.head()

,id,siteId,isTest,hasRead,supportOneDayLimit,orderId,cOrderSn,isBook,cPaymentStatus,cPayTime,...,pdOrderStatus,omsOrderSn,couponCode,couponCodeValue,storeId,storeType,stockType,o2oType,brokerageType,ogColor
0,73490,1,0,0,0,6953353,amazon_787381907069465,0,201,1409500990,...,0,NaN,NaN,0,0,0,WA,50,B,��ɫ
1,81725,1,0,0,0,6953829,suning_809464647036116,0,201,1409500980,...,0,NaN,NaN,0,0,0,WA,50,B,��ɫ
2,82100,1,0,0,0,3531493,jd_14092413252823687,0,201,1409500998,...,0,NaN,NaN,0,0,0,WA,0,NaN,���Ľ�
3,3597241,1,0,0,0,3531499,jd_14091818005983607,0,206,1409501050,...,0,NaN,NaN,0,0,0,WA,0,NaN,��ɫ
4,3597243,1,0,0,0,3531501,jd_14091317283357943,0,200,0,...,0,NaN,NaN,0,0,0,WA,0,NaN,���Ľ�

In [5]:
users.head()

,id,siteId,avatarImageFileId,email,username,password,salt,registerTime,lastLoginTime,lastLoginIp,...,isSmsVerify,smsVerifyCode,emailVerifyCode,verifySendCoupon,canReceiveEmail,modified,channelId,grade_id,nick_name,is_blackList
0,1,1,NaN,wcfr817e@yeah.net,��ӽ,7f930f90eb6604e837db06908cc95149,f668,1217994492,1.431054e+09,106.83.54.165,...,1.0,1064.0,4537.0,0.0,0.0,17/8/2019 21:34:50,0,0,NaN,0
1,2,1,NaN,xuwcbev9y@ask.com,����,7f930f90eb6604e837db06908cc95149,f668,1218317852,1.406562e+09,121.77.119.233,...,0.0,NaN,8000.0,0.0,0.0,17/8/2019 21:34:50,0,0,NaN,0
2,3,1,NaN,mgaqfew@126.com,Ϳ��,96802a851b4a7295fb09122b9aa79c18,f668,1218339475,1.406044e+09,171.12.206.122,...,0.0,NaN,NaN,0.0,0.0,17/8/2019 21:34:50,0,0,NaN,0
3,4,1,NaN,b7zthcdg@163.net,����,96802a851b4a7295fb09122b9aa79c18,f668,1218350829,1.388045e+09,61.235.143.92,...,0.0,NaN,NaN,0.0,0.0,17/8/2019 21:34:50,0,0,NaN,0
4,5,1,NaN,ezrvy0p@163.net,����,96802a851b4a7295fb09122b9aa79c18,f668,1218549491,1.388044e+09,182.81.200.32,...,0.0,NaN,NaN,0.0,0.0,17/8/2019 21:34:50,0,0,NaN,0

In [6]:
logs.head()

,id,log_id,remote_ip,site_global_ticket,site_global_session,global_user_id,cookie_text,user_agent,ref_url,loc_url,log_time
0,1,20190813030355b18919aa,58.210.214.242,d5bbefc1-b018-411e-a5c5-f4ae42040585,225B3CEC05A99F22DA910E9ACF16CABA,424,_jzqa:1.4307189778781279000.1443929492.1444556...,Mozilla/5.0 (Linux; Android 5.0; F103 Build/LR...,http://m.shop.com/mobile/toActivityDetail/2015...,http://m.eshop.com/mobile/coupon/getCoupons.ht...,2019-08-13 03:03:55
1,2,20190731083547b0e15caf,112.97.37.154,7d4d6c17-489d-472c-b84a-f637737f9368,0D5516FE42C46C9C6B414BA476DADB87,404,_jzqa:1.861329298237678300.1444567194.14445704...,Mozilla/5.0 (Linux; Android 4.4.2; CHM-UL00 Bu...,http://m.shop.com/mobile/item/12233.html,http://m.eshop.com/mobile/item/productSpecific...,2019-07-31 08:35:47
2,3,20190726181449212ab2f6,116.227.224.90,a17fcf55-2d85-4741-8a46-059c088fdaab,3D357774BD7C1F89A2069B45DEDD4963,746,UniqueName:4f87abed-35f5-f243-aa54-7b31aa598dc...,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,http://www.shop.com/l/2723-0-0-0-0-0-0-0-0-43-...,http://www.eshop.com/product/5552.html?ebi=ref...,2019-07-26 18:14:49
3,4,201907311335162e8c21bb,36.45.237.47,20e2f652-2a3c-41ce-9ccb-cbb23dd9ab6e,46FB6054C731C9FFC761B76116C08538,619,YZHD_SESSIONID:d633af7d8f59bb6b1d1f16d49475443...,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,NaN,http://www.eshop.com/,2019-07-31 13:35:16
4,5,20190806052106c511adcb,183.38.98.186,f0817399-2890-44de-8eb0-62e4cb215ad7,0B0522645FBA9661F3DBBEF81D2060DD,854,JSESSIONID:0B0522645FBA9661F3DBBEF81D2060DD\n_...,Mozilla/5.0 (iPhone; CPU iPhone OS 9_0_2 like ...,http://m.shop.com/mobile/item/9577.html,http://m.eshop.com/mobile/item/productComment/...,2019-08-06 05:21:06