In [10]:
import os
import sys
import numpy as np
import pandas as pd
import csv
import matplotlib
import matplotlib.pyplot as plt
from tqdm import tqdm

In [27]:
data_dir = "/mnt/c/Users/ruotong/Home/xERTE/tKGR/data/yelp_dataset-2"
print(os.listdir(data_dir))

['abbr_yelp_academic_dataset_review.csv', 'Dataset_User_Agreement.pdf', 'yelp_academic_dataset_business.csv', 'yelp_academic_dataset_business.json', 'yelp_academic_dataset_checkin.csv', 'yelp_academic_dataset_review.csv', 'yelp_academic_dataset_tip.csv', 'yelp_academic_dataset_user.csv']

In [5]:
chunksize = 10 ** 5
# df_demo= pd.read_csv(os.path.join(data_dir, "yelp_academic_dataset_review.csv"), chunksize=10)

df_list = list()
with pd.read_csv(os.path.join(data_dir, "yelp_academic_dataset_review.csv"), chunksize=chunksize, usecols=['business_id','stars','date','user_id']) as reader:
    for chunk in tqdm(reader):
        df_list.append(chunk)

# df = pd.read_csv(os.path.join(data_dir, "yelp_academic_dataset_review.csv"), sep="\t",header=1)
# df = df.reindex(columns=['user','rating','movie','timestamp'])
review = pd.concat(df_list)
review.to_csv(os.path.join(data_dir, "abbr_yelp_academic_dataset_review.csv"), header=None, sep='\t', index=False)

['Dataset_User_Agreement.pdf', 'yelp_academic_dataset_business.csv', 'yelp_academic_dataset_business.json', 'yelp_academic_dataset_checkin.csv', 'yelp_academic_dataset_review.csv', 'yelp_academic_dataset_tip.csv', 'yelp_academic_dataset_user.csv']
87it [05:37,  3.88s/it]

In [6]:
review.head()

              business_id  stars                 date                 user_id
0  buF9druCkbuXLX526sGELQ    4.0  2014-10-11 03:34:02  ak0TdVmGKo4pwqdJSTLwWw
1  RA4V8pr014UyUbDvI-LW2A    4.0  2015-07-03 20:38:25  YoVfDbnISlW0f7abNQACIg
2  _sS2LBIGNT5NQb6PD1Vtjw    5.0  2013-05-28 20:38:06  eC5evKn1TWDyHCyQAwguUw
3  0AzLzHfOJgL7ROwhdww2ew    2.0  2010-01-08 02:29:15  SFQ1jcnGguO0LYWnbbftAA
4  8zehGz9jnxPqXtOc7KaJxA    4.0  2011-07-28 18:05:01  0kA0PAJ8QFMeveQWHFqz2A

In [16]:
chunksize = 10
df_list = list()
i=0
with pd.read_csv(os.path.join(data_dir, "yelp_academic_dataset_user.csv"), chunksize=chunksize) as reader:
    for chunk in tqdm(reader):
        if i < 1:
            print(chunk)    
            i = i + 1
        else:
            break

0it [00:00, ?it/s]         yelping_since  useful  compliment_photos  compliment_list  \
0  2005-03-14 20:26:35   15038                323              147
1  2007-08-10 19:01:51   21272                294               96
2  2007-02-07 15:47:53     188                  1                0
3  2009-02-09 16:14:29    7234                326               90
4  2008-03-03 04:57:05    1577                 44               15
5  2008-06-25 14:53:17     476                  2                0
6  2009-07-22 16:47:01      53                  0                0
7  2010-07-04 17:18:40     136                  2                0
8  2010-10-01 17:29:36     381                  1                0
9  2007-08-04 20:21:09     752                  2                0

   compliment_funny  compliment_plain  review_count  \
0              2541              5691          1220
1              2205              3293          2136
2                31                20           119
3              1566              4510           987
4               310               131           495
5                24                15           229
6                 2                 1            51
7                12                 6            51
8                30                47           299
9                24                32           288

                                             friends  fans  compliment_note  \
0  xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...  1357             1212
1  XPzYf9_mwG2eXYP2BAGSTA, 2LooM5dcIk2o01nftYdPIg...  1025             1187
2  GfB6sC4NJQvSI2ewbQrDNA, jhZtzZNNZJOU2YSZ6jPlXQ...    16                5
3  HQZPQhKMwRAyS6BCselVWQ, kP2U1s_sjQfHO9grxiyDTA...   420             1120
4  -Q88pZUcrfN0BLBDp-bkAQ, etPn4Pv1Gc4cRZjRgB_BOw...    47               77
5  2ptwW5l68069vNtW8J-WOg, 4TVFuz8L4TsDtx_ObSin9g...    17               10
6  DlT1HhrcYfDhjJNUyskU5g, C0ly5C7RzTlzh0M55YspDw...     1                3
7  _Tpd51CSlnOyvDTpOtgG5w, jVYzrVblDFSuL3GHtt8ZSA...     4                4
8  VGfzq5na6LZUwxwWO5eVLA, 35uHDsVOEsWbLdEg8Ttobg...    23               17
9  vePby1OhpTiQiX75XrN97A, UG8cewYtZdep2hzSekIqYg...    25               12

   ...  compliment_cute  average_stars                 user_id  \
0  ...              361           3.85  q_QQ5kBBwlCcbL1s4NVK3g
1  ...              232           4.09  dIIKEfOgo0KqUfGQvGikPg
2  ...                0           3.76  D6ErcUnFALnCQN4b1W_TlA
3  ...              219           3.77  JnPIjvC0cmooNDfsa9BmXg
4  ...               16           3.72  37Hc8hr3cw0iHLoPzLK6Ow
5  ...                0           3.59  n-QwITZYrXlKQRiV30MqNg
6  ...                0           3.86  eCJoZqpV1fDKJGAsXmWXqQ
7  ...                1           3.79  cojecOwQJpsYDxnjtgzteQ
8  ...                6           3.43  1jXmzuIFKxTnEnR0pxO0Hg
9  ...                2           3.88  -8QoOIfvwwxJ4sY201WP5A

   compliment_more                                              elite  \
0              163       2006,2007,2008,2009,2010,2011,2012,2013,2014
1               87  2007,2008,2009,2010,2011,2012,2013,2014,2015,2...
2                1                                          2010,2011
3              129                      2009,2010,2011,2012,2013,2014
4               19                                     2009,2010,2011
5                4                 2010,2011,2012,2013,2014,2015,2016
6                0                                                NaN
7                5                                          2010,2011
8                8                      2010,2011,2012,2013,2014,2015
9                4                 2012,2013,2014,2015,2016,2017,2018

   compliment_hot   cool        name  compliment_profile compliment_cool
0            1710  11291        Jane                 190            2541
1            1632  18046        Gabi                  94            2205
2              22    130       Jason                   3              31
3            1180   4035         Kat                  93            1566
4             248   1124   Christine                  32             310
5              18    140     Natasha                   3              24
6               0     16     Bridget                   0               2
7               4     44      Steven                   2              12
8              17    121       Clara                   2              30
9               8    306  Antoinette                   6              24

[10 rows x 22 columns]

In [17]:
chunk.head()

,yelping_since,useful,compliment_photos,compliment_list,compliment_funny,compliment_plain,review_count,friends,fans,compliment_note,...,compliment_cute,average_stars,user_id,compliment_more,elite,compliment_hot,cool,name,compliment_profile,compliment_cool
10,2008-11-03 17:31:30,159,1,1,14,8,44,"8z3hZO0SE75e6kO2Bsm8pA, bRHT_AP9l_HNgGsX4PnDiw...",5,1,...,0,3.83,EtofuImujQBSo02xa6ZRtQ,6,"2009,2010",16,138,Hollyanna,1,14
11,2005-07-22 11:07:20,116,0,1,2,2,65,"ISN91YL7nkU_X_bovO2Lyg, sxsXw8QrbFTUzVVGGLNdOg...",2,1,...,3,4.18,cxS6dbjyPgPS1S890u_khA,2,NaN,2,77,Joe,0,2
12,2009-01-29 03:48:53,2235,17,4,162,165,750,"dyfc7mHf52_EKUBPHJ1NJw, 4gAD7fnWZNYP3TIMJGyt5A...",86,72,...,3,4.16,MUzkXfPS9JaMgJ907orz0g,21,"2010,2012,2013,2014,2015,2016,2017,2018,2019,2...",40,893,Damon,5,162
13,2009-09-30 12:20:56,1469,2,3,93,114,632,"fv54kCf31SFX0_5IX4klYg, pH3Glr-87CaV_w4mv3ZB5w...",44,77,...,0,3.66,tjwblGkWN9m0vsGaypJ0Vw,5,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...",47,629,Ben,1,93
14,2009-04-18 13:14:33,6,0,0,0,0,2,"kwFrKHPFRhsVC-giWwA2PA, sa3iJuVNk3GnHiN3WeRT9A...",0,0,...,0,4.50,m-zIVssiXN4bnDFqMdPtEA,0,NaN,0,0,Bryan,0,0

In [18]:
chunksize = 10
df_list = list()
i=0
with pd.read_csv(os.path.join(data_dir, "yelp_academic_dataset_checkin.csv"), chunksize=chunksize) as reader:
    for chunk in tqdm(reader):
        if i < 1:
            print(chunk)    
            i = i + 1
        else:
            break

0it [00:00, ?it/s]                                                date             business_id
0                                2017-09-03 17:13:59  --0r8K_AQ4FZfLsX3ZYRDA
1  2010-10-08 22:21:20, 2010-11-01 21:29:14, 2010...  --0zrn43LEaB4jUWTQH_Bg
2  2010-02-26 02:06:53, 2010-02-27 08:00:09, 2010...  --164t1nclzzmca7eDiJMw
3  2014-11-03 16:35:35, 2015-01-30 18:16:03, 2015...  --2aF9NhXnNVpDV0KS3xBQ
4  2010-12-15 17:10:46, 2013-12-28 00:27:54, 2015...  --2mEJ63SC_8_08_jGgVIg
5  2012-09-23 20:58:03, 2012-10-08 22:49:59, 2012...  --6COJIAjkQwSUZci_4PJQ
6           2014-08-02 14:12:55, 2015-02-21 17:37:57  --DzGwfuJH12DjYz95VW0Q
7           2012-08-27 21:10:37, 2012-09-21 22:35:50  --EoF6KmeDuki2vBWhPqCw
8  2011-08-15 22:43:08, 2015-11-16 13:19:35, 2017...  --JKSSgnfoOjVDFGv692BA
9                                2016-06-08 15:40:03  --JuLhLvq3gyjNnXT9Q95w

In [20]:
chunk.head()

                                                 date             business_id
10  2020-07-15 22:29:52, 2020-07-16 22:42:20, 2020...  --Q3mAcX9t63f7Xcbn7LVA
11  2010-02-07 05:58:54, 2010-02-21 04:14:22, 2010...  --UNNdnHRhsyFUbDgumdtQ
12  2014-11-18 23:27:59, 2015-01-03 19:31:29, 2015...  --_nBudPOb1lNRgKfjLtrw
13  2015-11-28 01:53:03, 2015-12-17 05:14:15, 2016...  --bbZa1KPYSmW0X4o3TUQw
14                                2014-12-07 08:02:13  --c6cQzOAzqky9L_ptE8KA

In [25]:
chunksize = 10
df_list = list()
i=0
with pd.read_csv(os.path.join(data_dir, "yelp_academic_dataset_tip.csv"), chunksize=chunksize) as reader:
    for chunk in tqdm(reader):
        if i < 1:
            print(chunk)    
            i = i + 1
        else:
            break
chunk.head()

0it [00:00, ?it/s]                  user_id                                               text  \
0  WCjg0jdHXMlwbqS9tZUx8Q                               Carne asada chips...
1  42-Z02y9bABShAGZhuSzrQ  Best happy hour from 3pm to 6pm! $1 off martin...
2  5u7E3LYp_3eB8dLuUBazXQ  Nice people, skilled staff, clean location - b...
3  wDWoMG5N9oI4DJ-p7z8EBg  1/2-price bowling & the "Very" Old Fashion are...
4  JmuFlorjjRshHTKzTwNtgg  Solid gold's. Great sauna. Great staff, too. E...
5  MHmKe1NQ1pCpIrbK4XREDw  Try a few different styles and instructors of ...
6  S5tOE7JAvaeXBEibnAV02g  On The Border was very fresh and fast for non-...
7  fTsVDajAyDJ-YzsSdfXSDw                             Cold cuts are the best
8  g3HFkZgloxLQCvoJ5Zs5gg         Water Ave coffee served here--& @ L Jeans!
9  sNVpZLDSlCudlXLsnJpg7A                                         So busy...

              business_id  compliment_count                 date
0  ENwBByjpoa5Gg7tKgxqwLg                 0  2011-07-22 19:07:35
1  jKO4Og6ucdX2-YCTKQVYjg                 0  2014-09-10 07:33:29
2  9Bto7mky640ocgezVKSfVg                 0  2013-12-13 23:23:41
3  XWFjKtRGZ9khRGtGg2ZvaA                 0  2017-07-11 23:07:16
4  mkrx0VhSMU3p3uhyJGCoWA                 0  2016-11-30 08:46:36
5  VQftVUvHfMQdDTmnO0iQqg                 0  2010-03-22 21:40:26
6  2PxZ-fICnd432NJHefXrcA                 0  2011-10-08 17:14:20
7  oQyf1788YWsiDLupGva6sw                 0  2015-06-09 14:35:57
8  OQ2oHkcWA8KNC1Lsvj1SBA                 0  2018-03-22 15:28:09
9  Wqetc51pFQzz04SXh_AORA                 0  2014-06-07 12:09:55

,user_id,text,business_id,compliment_count,date
10,tOFEtck_Xnj7y0VzXtqCtA,Most important 1 of the night.,EUOuLlhkf1PBM9G9rdxBtQ,0,2011-12-24 06:32:37
11,cpCfHpe9nz75MrNk6THyxA,"Good food, nicely priced and great service. Fr...",2fkTxtF59cYdktacQ6-axg,0,2013-02-04 06:49:01
12,TOkW-RuqftALEh8E99UazQ,Clam chowder is fantastic!,tdIyREwlre3SVU41a4eBgA,0,2014-03-16 18:01:55
13,-idPg_CrUNFx1xAC6yiZjQ,French Dessert! Love my chocolate!,7d3IefhfwjcbTF-UyrBy4A,0,2012-07-25 04:15:23
14,-2sNTzGyci98Mp9PmPRg8w,The Phoenix roll is a MUST here.,QVVoIHWggdCxZuZQjllD_Q,0,2011-07-16 23:47:13

In [26]:
chunksize = 10
df_list = list()
i=0
with pd.read_csv(os.path.join(data_dir, "yelp_academic_dataset_business.csv"), chunksize=chunksize) as reader:
    for chunk in tqdm(reader):
        if i < 1:
            print(chunk)    
            i = i + 1
        else:
            break
chunk.head()

1it [00:00, 32.96it/s]  hours.Wednesday attributes.RestaurantsDelivery  attributes.Open24Hours  \
0       11:0-23:0                           None                     NaN
1        5:0-18:0                          False                     NaN
2             NaN                            NaN                     NaN

  attributes.DogsAllowed  attributes.CoatCheck  postal_code  \
0                  False                   NaN        80302
1                    NaN                   NaN        97218
2                    NaN                   NaN        97214

   attributes.Smoking hours.Thursday  attributes.DietaryRestrictions  \
0                 NaN      11:0-23:0                             NaN
1                 NaN       5:0-18:0                             NaN
2                 NaN      11:0-18:0                             NaN

       city  ... hours.Sunday  \
0   Boulder  ...    11:0-23:0
1  Portland  ...     5:0-18:0
2  Portland  ...    11:0-18:0

                              attributes.GoodForMeal  \
0  {'dessert': False, 'latenight': False, 'lunch'...
1  {'dessert': False, 'latenight': False, 'lunch'...
2                                                NaN

   attributes.GoodForDancing  attributes.Caters attributes.AcceptsInsurance  \
0                        NaN               True                         NaN
1                        NaN               True                         NaN
2                        NaN                NaN                         NaN

   attributes.RestaurantsReservations  \
0                               False
1                               False
2                                 NaN

                                          attributes  \
0  {u'Alcohol': u"'beer_and_wine'", u'HasTV': u'T...
1  {u'GoodForMeal': u"{'dessert': False, 'latenig...
2  {u'BusinessAcceptsCreditCards': u'True', u'Res...

  attributes.RestaurantsTakeOut  attributes.BikeParking  \
0                          True                    True
1                          True                   False
2                           NaN                   False

  attributes.OutdoorSeating
0                      True
1                     False
2                       NaN

[3 rows x 60 columns]

,hours.Wednesday,attributes.RestaurantsDelivery,attributes.Open24Hours,attributes.DogsAllowed,attributes.CoatCheck,postal_code,attributes.Smoking,hours.Thursday,attributes.DietaryRestrictions,city,...,hours.Sunday,attributes.GoodForMeal,attributes.GoodForDancing,attributes.Caters,attributes.AcceptsInsurance,attributes.RestaurantsReservations,attributes,attributes.RestaurantsTakeOut,attributes.BikeParking,attributes.OutdoorSeating
0,11:0-23:0,None,NaN,False,NaN,80302,NaN,11:0-23:0,NaN,Boulder,...,11:0-23:0,"{'dessert': False, 'latenight': False, 'lunch'...",NaN,True,NaN,False,"{u'Alcohol': u""'beer_and_wine'"", u'HasTV': u'T...",True,True,True
1,5:0-18:0,False,NaN,NaN,NaN,97218,NaN,5:0-18:0,NaN,Portland,...,5:0-18:0,"{'dessert': False, 'latenight': False, 'lunch'...",NaN,True,NaN,False,"{u'GoodForMeal': u""{'dessert': False, 'latenig...",True,False,False
2,NaN,NaN,NaN,NaN,NaN,97214,NaN,11:0-18:0,NaN,Portland,...,11:0-18:0,NaN,NaN,NaN,NaN,NaN,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",NaN,False,NaN

In [30]:
review = pd.read_csv(os.path.join(data_dir, 'abbr_yelp_academic_dataset_review.csv'), header=None)

In [31]:
review.head()

                                                   0
0  buF9druCkbuXLX526sGELQ\t4.0\t2014-10-11 03:34:...
1  RA4V8pr014UyUbDvI-LW2A\t4.0\t2015-07-03 20:38:...
2  _sS2LBIGNT5NQb6PD1Vtjw\t5.0\t2013-05-28 20:38:...
3  0AzLzHfOJgL7ROwhdww2ew\t2.0\t2010-01-08 02:29:...
4  8zehGz9jnxPqXtOc7KaJxA\t4.0\t2011-07-28 18:05:...